# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Build output
build/
dist/
*.spec

# IDE / editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Logs / temp
*.log
*.tmp
